name: delivery / docker

on:
  workflow_dispatch:
    inputs:
      tag_name:
        description: 'tag'
        required: true
#  release:
#    types:
#      - published

env:
  BUILDER: "paketobuildpacks/builder:tiny"
  IMG_NAME: 'pack'
  USERNAME: 'dfreilich'

jobs:
  deliver-docker:
    runs-on: ubuntu-latest
    container:
      image: docker:stable
      volumes:
        - /home/runner:/var/www
    steps:
      - uses: actions/checkout@v2
      - name: Determine version
        id: version
        shell: bash
        run: |
          echo "::set-output name=VERSION::$(echo ${{ github.event.inputs.tag_name }} | cut -d "v" -f2)"
      - name: Setup Working Dir
        shell: bash
        run: |
          cp .github/workflows/delivery/docker/buildpack.yml buildpack.yml
      - name: Fill buildpack.yml
        uses: cschleiden/replace-tokens@v1
        with:
          files: buildpack.yml
        env:
          PACK_VERSION: ${{ steps.version.outputs.VERSION }}
      - name: Determine App Name
        run: 'echo "::set-env name=IMG_NAME::$(echo ${USERNAME})/$(echo ${IMG_NAME})"'
      - name: Login to Dockerhub
        uses: docker/login-action@v1.3.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Pack Build/Publish
        uses: dfreilich/pack-action@v0.0.2
        with:
          args: 'build ${{ env.IMG_NAME }}:${{ steps.version.outputs.VERSION }} --builder ${{ env.BUILDER }} --publish'
      - name: Tag Image as Latest
        run: |
          docker pull ${{ env.IMG_NAME }}:${{ steps.version.outputs.VERSION }}
          docker tag ${{ env.IMG_NAME }}:${{ steps.version.outputs.VERSION }} ${{ env.IMG_NAME }}:latest
          docker push ${{ env.IMG_NAME }}:latest
